<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:white
    }
</style>
<body style="background-color:#265078">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFDACC">
        <a class="navbar-brand">Bhavya's Book Recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Top 50 Books📚</h1>
            </div>

            {% for i in range(book_name|length) %}
                <div class="col-md-3 mb-4 d-flex">
                    <div class="card">
                        <div class="card-body" style="background:#4EA8DE; border-radius:10px;">
                            <img class="card-img-top" src="{{ image[i] }}"
                            style="height:260px; object-fit:cover; border-radius:18px 18px 0 0;">
                            <p class="text-white">{{ book_name[i] }}</p>
                            <h4 class="text-white">{{ author[i] }}</h4>
                            <h4 class="text-white">Votes📊 - {{ votes[i] }}</h4>
                            <h4 class="text-white">Rating⭐️ - {{ rating[i] }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

</body>
</html>


